@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    --textBanner: #2c0074;
    --textRosa: #ffa7c4;
    --textBlanco: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.espacio_logo{
    width: 30%;
}
.espacio_menu{
    width: 70%;

}
.enlinea{
    display: inline-block;
}
.scrolled{
    position: fixed;
    z-index: 1000;
    background: rgba(255, 255, 255);
    box-shadow: -2px -1px 13px 1px #989898;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}
img{
    height: auto;
    max-width: 100%;
}
header{
    width: 100%;
    padding: 10px 0px;
    background: rgba(255, 255, 255, 0);
}
footer{
    background: #131418;
    width: 100%;
    padding: 10px 0px;
}
h1{ font-size: 2.5em;}
h2{ font-size: 2em; }
h3{ font-size: 1.5em; }
.peso_400{font-weight: 400;}
.peso_900{font-weight: 900;}
hr{
    width: 100%;
    border: 1px solid #ffa7c4;
}
.logo{
    color: var(--textBanner);
}
.morado{
    color: var(--textBanner);
}
.rosa{
    color: var(--textRosa);
}
.mail{
    color: var(--textRosa);
}
.mail:hover{
    color: var(--textBlanco);
}
.navbar-div{
    max-width: 1200px;
    margin: 0 auto;
}
.espacio-year{
    padding: 30px 0px;
}
.blanco{
    color: #ffffff;
}
.derecho{
    text-align: right;
}
.espacio_intro{
    padding:  70px 0px;
}
.misRedes{
    padding: 0;
}
.miMenu li{
    display: inline;
    font-weight: 600;
    color:var(--textBanner);
    padding-right: 16px;
    cursor: pointer;
}
.miMenu li:hover{
    color:var(--textRosa);

}
.misRedes li{
    display: inline;
    color:var(--textBlanco);
    padding-right: 16px;
    font-size: 30px;
    cursor: pointer;
}
.misRedes li:hover{
    color:var(--textRosa);

}
.container{
    padding: 50px 0px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-3{
    flex: 0 0 25%;
    max-width: 25%;
}
.col-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
@media (min-width: 1200px){
    .container {
        max-width: 1200px;
    }
}
@media (max-width: 900px) and (min-width: 600px){
    .col-3{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .container{
        padding: 50px 35px;
    }
}
@media (max-width: 600px) and (min-width: 300px){
    .col-3{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-6{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .container{
        padding: 50px 35px;
    }
    .espacio_intro{
        padding: 0px;
    }
}
.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
    animation-duration: 1.9s;
    animation-iteration-count: infinite;
}
@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

@keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }